body {
    display: flex;
    background-image: url(bg.png);
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f8ff;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

.cute-stopwatch-card {
    background-color: #ffb6c1;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.cute-stopwatch-card:hover {
    transform: scale(1.05);
}

.cute-time {
    font-size: 2em;
    margin-bottom: 20px;
}

.cute-buttons button {
    background-color: #ffffff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

.cute-buttons button:hover {
    background-color: #000000;
    color: white;
}
